[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	brb = checkout -b
[user]
	email = jimersylee@gmail.com
	name = jimmylee
[push]
	default = current


